@model Unitok.Application.DTOs.User.UserRegisterDto;

@{
	ViewData["Title"] = "Sign up";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<main class="main">
	<div class="container">
		<div class="row row--grid">
			<!-- breadcrumb -->
			<div class="col-12">
				<ul class="breadcrumb">
					<li class="breadcrumb__item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="breadcrumb__item breadcrumb__item--active">Sign up</li>
				</ul>
			</div>
			<!-- end breadcrumb -->
			<!-- registration form -->
			<div class="col-12">
				<div class="sign">
					<div class="sign__content">
						<form  asp-action="Register" class="sign__form" method="post">
							<a  class="sign__logo">
								<img src="/img/logo.svg" alt="">
							</a>

							<div class="sign__group">
								<input asp-for="Name" type="text" class="sign__input" placeholder="Name">
								<span asp-validation-for="Name" style="color: red;"></span>
							</div>

							<div class="sign__group">
								<input asp-for="Email" type="text" class="sign__input" placeholder="Email">
								<span asp-validation-for="Email" style="color: red;"></span>
							</div>

							<div class="sign__group">
								<input asp-for="Password" type="password" class="sign__input" placeholder="Password">
								<span asp-validation-for="Password" style="color: red;"></span>
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">I agree to the <a href="privacy.html">Privacy Policy</a></label>
							</div>

							<button class="sign__btn" type="submit" >Sign up</button>

							<span class="sign__text">Already have an account? 
								<a asp-area="Auth" asp-controller="Login" asp-action="Index">Sign in!</a>
							</span>
						</form>
					</div>
				</div>
			</div>
			<!-- end registration form -->
		</div>
	</div>
</main>