@{
	ViewData["Title"] = "Sign in";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
	<div class="container">
		<div class="row row--grid">
			<!-- breadcrumb -->
			<div class="col-12">
				<ul class="breadcrumb">
					<li class="breadcrumb__item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="breadcrumb__item breadcrumb__item--active">Sign in</li>
				</ul>
			</div>
			<!-- end breadcrumb -->
			<!-- sign in -->
			<div class="col-12">
				<div class="sign">
					<div class="sign__content">
						<!-- authorization form -->
						<form action="#" class="sign__form">
							<a href="index.html" class="sign__logo">
								<img src="img/logo.svg" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Email">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Password">
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">Remember Me</label>
							</div>

							<button class="sign__btn" type="button">Sign in</button>

							<span class="sign__text">Don't have an account? 
								<a asp-area="Register" asp-controller="Home" asp-action="Index">Sign up!</a>
							</span>

						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
			<!-- end sign in -->
		</div>
	</div>
</main>